<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Archive</title>
</head>
<body>
    <div class="container">
        <h1 style="background-color:DodgerBlue;">All News</h1>
        <div class="row mt-5">
            <div class="col">
                <form method="GET" action="/">
                    <button type="submit" class="btn btn-warning btn-lg"> Save </button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>